<div class="col-md-offset text-center">
    <div class="panel panel-default">
        <div class="panel panel-default">
             <h2 class='text text-center'>Actualizar asignatura </h2>
        </div>
        <div class="panel-body">
            <%= render 'form' %>
            <%= link_to 'Consultar', @asignatura,  class: "btn btn-default" %> 
            <%= link_to 'Volver', asignaturas_path,  class: "btn btn-default" %>
        </div>
    </div>
</div>