
<div class="col-md-offset text-center">
  <div class="panel panel-default">
    <h1 class='text text-center'>Crear asignatura</h1>
  </div>
  <div class="panel-body">
    <%= render 'form' %></br></br></br></br></br></br></br></br></br>
    <%= link_to 'Vover', asignaturas_path, class: "btn btn-default" %>
  </div>
</div>