<div class="col-md-offset text-center">
  <div class="panel panel-default">
    <div class="panel-heading">   
      <h1 class='text text-center'>Crear Grupo</h1>
    </div>
    <div class="panel-body">
      <%= render 'form' %></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
      <%= link_to 'Vover', grupos_path, class: "btn btn-default" %>
    </div>
  </div>
</div>