<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos contactamos contigo para notificar que tu correo ha sido cambiado a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos contactamos contigo para notificar que tu correo ha sido cambiado a <%= @resource.email %>.</p>
<% end %>
